.venv/*
.venv3.12/*
.venv312/*
.vscode/
ssl/
logs/
build/
dist/
src/FlexiDNS.egg-info/*
FlexiDNS.egg-info/*
*.egg-info/*
__pycache__/
*.key
*.rsa
*.py[cod]
src/etc/pydns/list/cn-ipv4.txt
src/etc/pydns/list/cn-ipv6.txt
src/etc/pydns/list/fakeip.txt
src/etc/pydns/list/fallback_exclude.txt
src/etc/pydns/list/gfw.txt
src/etc/pydns/list/gfwtest.txt
src/etc/pydns/list/hosts.devel
src/etc/pydns/list/ipv4.txt
src/etc/pydns/list/myreject.txt
src/etc/pydns/list/mytest.txt
src/etc/pydns/list/reject-list.txt
tests/test.py
